// Colors
$accent: #4f27bf;
$base-color: #1c1c1e;
$black: #000;
$gray: #6c6c6c;
$light-gray: #dddcdc;
$white: #fff;
$link: #002bc5;
$divider: #d7d7d7;
$shadow: #020060;

$border-radius: 10px;
$border-radius-sm: 5px;

// Fonts
$text-base-size: 20px;
$text-second-size: 26px;

$text-xs: 0.5rem; // 10px;
$text-sm: 0.6rem; // 12px
$text-md: 1rem; // 20px
$text-lg: 1.3rem; // 26px
