.sidebar {
  width: 300px;
  height: calc(100vh - 80px);

  position: fixed;
  top: 80px;
  z-index: 1000;

  overflow-y: auto;
  overflow-x: hidden;

  font-weight: 700;

  box-shadow: 0 0 5px 0 rgba($shadow, 0.25);

  @media (max-width: 768px) {
    transform: translateX(-100%);
    transition: transform 0.3s linear;

    &.active {
      transform: translateX(0);
      background-color: $gray;
      color: $white;
    }
  }
}

.sidebar-item__wrapper {
  padding-left: 32px;
  display: flex;
  align-items: center;
}

.sidebar-item__link {
  text-decoration: none;
  position: relative;
  color: $base-color;

  &.active {
    &::after {
      content: '';
      display: block;
      width: 6px;
      height: 100%;
      background: $accent;
      border-radius: $border-radius-sm;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.sidebar-nav__title {
  padding-left: 32px;
  margin-bottom: 32px;
  margin-top: 25px;
}

.sidebar-item {
  margin-bottom: 40px;
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 2;

  &-submenu::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;

    transform: translate(-50%, -50%);

    background: url('../../../../assets/svg/ic_arrow-up.svg') no-repeat;
  }

  &-submenu-active {
    .sidebar-item-submenu::after {
      transform: rotate(90deg);
    }
  }
}

.sidebar-item .sidebar-item-submenu .active {
  .sidebar-item-submenu::after {
    transform: rotate(90deg);
  }
}

.sidebar-item__icon {
  width: 32px;
  height: 32px;
}

.sidebar-item__title {
  margin-left: 16px;
  font-weight: 600;
}

.sidebar-item__icon-button {
  justify-self: flex-end;
  margin-left: auto;
  &--active {
    & svg {
      transform: rotate(180deg);
    }
  }

  transition: all 0.1s ease-in;
}
